In [61]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from itertools import combinations, chain

from catboost import CatBoostRegressor

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_absolute_percentage_error

from joblib import dump

In [62]:
df = pd.read_csv('../../data/dataset_regression.csv')
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.isnull().sum().sum()

0

In [63]:
train = df.sample(frac = 0.8, random_state = 45)
train.head(5)

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
34647,52,928,0,7,470000,2007,2,0,1,2.2,...,0,0,0,0,0,0,0,0,0,5
37129,53,1099,0,4,27000,2015,2,0,1,1.6,...,0,0,0,0,0,0,0,0,0,10
4215,5,80,0,8,340000,1995,0,0,0,2.0,...,1,0,0,0,0,0,0,0,1,90
12304,23,390,0,3,500000,1993,0,0,0,2.2,...,0,0,0,1,0,0,0,0,0,137
21408,30,503,0,0,350000,2002,2,0,1,2.5,...,1,1,1,1,1,1,1,1,1,48

In [64]:
test = df.drop(train.index).reset_index(drop = True)
test.head(5)

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,0,3,1,3,280000,2001,0,0,0,2.5,...,1,0,1,1,0,0,0,0,1,7
1,0,1,1,3,318280,1998,0,0,0,2.5,...,1,0,0,1,1,0,0,1,1,307
2,0,3,1,0,350000,2004,0,0,0,2.5,...,1,1,0,0,0,0,0,0,1,73
3,0,4,1,4,256000,2008,0,0,0,3.6,...,1,1,1,1,1,0,0,1,1,80
4,0,1,0,5,321000,2002,0,0,0,2.0,...,1,0,0,0,0,0,0,0,0,2

In [65]:
from GeneralCart import Node, CART

In [66]:
model = CART(max_depth = 4, min_samples_split=2)

In [67]:
train_thousand = train[0:1000]

In [68]:
model.train(train_thousand)

In [69]:
X_train, X_test, y_train, y_test = train_test_split(train_thousand.drop("price_usd", axis = 1), train_thousand["price_usd"], test_size=1/3)

In [70]:
row = X_test

In [71]:
pred_test = model.predict_many(row)
pred_test

[3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 11524.19074168798,
 3046.9113464696225,
 3046.9113464696225,
 11524.19074168798,
 3046.9113464696225]

In [72]:
errors = {'MAE': mean_absolute_error(pred_test, y_test), 
          'RMSE': mean_squared_error(pred_test, y_test),
          'MSE': mean_squared_error(pred_test, y_test)**0.5,
          'MAPE': mean_absolute_percentage_error(pred_test, y_test)
        }
        #   'R^2': model.score(X_test, y_test)}
errors

{'MAE': 2582.24360255237,
 'RMSE': 14182919.984234907,
 'MSE': 3766.0217716092543,
 'MAPE': 0.4634932692737172}

In [73]:
1 - np.sum((pred_test - y_test)**2) / np.sum((y_test.mean() - y_test)**2)

0.5393823125761441