In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier 
from sklearn import datasets
from sklearn import tree
from matplotlib import pyplot as plt
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_curve, RocCurveDisplay, auc
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import StackingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('../../data/balanced_sclaer_dataset_diabetes.csv')

In [3]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [4]:
df.isnull().sum().sum()

0

In [5]:
train = df.sample(frac = 0.8, random_state = 69)
train.head(5)

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,...,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,Diabetes_012
101349,1.0,1.0,1.0,0.283874,0.195607,0.0,0.0,1.0,0.195607,1.0,...,0.0,0.50,0.120293,0.013040,0.804393,1.0,0.567033,0.839121,1.000000,1.0
4202,0.0,0.0,1.0,0.116279,0.000000,0.0,0.0,1.0,1.000000,1.0,...,0.0,0.50,0.000000,0.000000,0.000000,1.0,0.666667,1.000000,1.000000,0.0
12715,0.0,1.0,1.0,0.197674,1.000000,0.0,0.0,1.0,0.000000,1.0,...,0.0,0.25,0.000000,0.100000,0.000000,1.0,0.583333,1.000000,1.000000,0.0
413,1.0,1.0,1.0,0.174419,1.000000,0.0,1.0,1.0,1.000000,1.0,...,0.0,0.50,0.000000,0.500000,1.000000,0.0,0.916667,0.600000,0.428571,0.0
29600,1.0,0.0,1.0,0.174419,1.000000,0.0,0.0,1.0,0.000000,1.0,...,0.0,0.25,0.933333,0.033333,0.000000,0.0,0.333333,1.000000,0.571429,0.0

In [6]:
test = df.drop(train.index).reset_index(drop = True)
test.head(5)

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,...,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,Diabetes_012
0,0.0,0.0,1.0,0.151163,1.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.00,0.033333,0.0,0.0,0.0,0.500000,1.0,0.857143,0.0
1,1.0,1.0,1.0,0.209302,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.50,1.000000,0.0,0.0,0.0,0.250000,0.6,1.000000,2.0
2,0.0,0.0,1.0,0.500000,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.50,0.000000,0.0,0.0,1.0,0.166667,1.0,1.000000,0.0
3,1.0,0.0,1.0,0.220930,1.0,1.0,0.0,1.0,1.0,1.0,...,0.0,0.75,0.000000,0.0,1.0,1.0,0.833333,0.6,0.142857,0.0
4,1.0,1.0,1.0,0.186047,1.0,1.0,0.0,1.0,1.0,1.0,...,0.0,0.25,0.000000,0.0,0.0,1.0,0.666667,1.0,1.000000,2.0

In [7]:
df.value_counts('Diabetes_012')

Diabetes_012
0.0    35097
1.0    35097
2.0    35097
dtype: int64

In [8]:
from MyCart import Node, CART

In [9]:
model = CART(max_depth = 4, min_samples_split=9)

In [10]:
train_thousand = train[0:500]

In [11]:
train_thousand.value_counts('Diabetes_012')

Diabetes_012
0.0    183
1.0    170
2.0    147
dtype: int64

In [12]:
model.train(train_thousand)

In [13]:
X_train, X_test, y_train, y_test = train_test_split(train_thousand.drop('Diabetes_012', axis = 1), train_thousand['Diabetes_012'], test_size=1/3)

In [14]:
row = X_test

In [15]:
set(model.predict_many(row))

{0, 1}